$menu-font: 'Nunito', sans-serif;

$header-margin: 20px;
$top-margin: 20px;
/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
  height: 100%;
  background-color: $back-ground-color;
  color: $default-text-color;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer[role=contentinfo] {
  height: 60px;
}

/* print page content only no header, footer and asides, works with any page layout */
@media print {
  body * {
    visibility: hidden;
  }
  /* use .no-print if you want to hide something inside page-content from printing */
  .no-print, .no-print * {
    display: none !important;
  }
  .page-content, .page-content * {
    visibility: visible;
  }
  .page-content {
    position: absolute;
    left: 0;
    top: 0;
  }
}


/* Parent set */
.light-link {
  color: $dark-link-color;
}

.dark-link {
  color: #ba9b68;
}

/* */


header {
  font-family: $menu-font;

  .container {
    height: 100%;
  }

  .navbar {
    width: 100%;
    padding: $header-margin;
    border: 1px solid transparent;
    background-color: $header-color;

    
    .navbar-header {
      a {
        color: $accent-color;
        font-size: 1.5em;
        font-weight: bold;
      }
    }

    ul {
      height: 100%;
      li {
        width: 100px;
        text-align: center;
        a {
          color: $dark-link-color;
          display: inline-block;
          margin: 0 auto;

        }
        a:hover {
          background-color: transparent;
          text-decoration: underline;
        }

      }

    }


  }

}

/*side*/
.sidebar {
  margin-top: $top-margin;
}

/*h_n*/
.page-header {
  font-family: $menu-font;
//  border-bottom: 4px dashed $accent-color2;
  background-color: $header-color;
  padding: 5px 20px;
  margin: 0;
  .entry-title {
    color: $accent-color-dark;
    a {
      @extend .light-link;
    }
    a:hover {
//      background-color: transparent;

    }
  }
}

.page-content, .sidebar {
  margin-top: $header-margin;
}


.pager {

  li a, .preview a {
    padding: 10px 25px;
    @extend .light-link;
    background-color: $header-color;
    border-radius: 0;
  }

  li a:hover, .preview a:hover {
    @extend .light-link;
    background-color: $header-color;
  }
}

//////// Page content /////////
//.page-content {
//  background-color: white;
//}

article.post {
  background-color: white;
//  border-bottom: 2px solid #ccc;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

}

article {
  .entry-content {
    padding: 10px;
  }
}
//////////////////////////////